.movement-form {
    background-color: #F2F2F2;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(12, 135, 242, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.movement-form h2 {
    color: #0C87F2;
}

.movement-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #134BF2;
}

.movement-form input,
.movement-form select {
    padding: 8px;
    border: 1px solid #B8BBBF;
    border-radius: 6px;
}

.movement-form button {
    background-color: #134BF2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.movement-form button:hover {
    background-color: #0C87F2;
}