.movement-list-container {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(19, 75, 242, 0.1);
}

.movement-list-container h2 {
    color: #134BF2;
    margin-bottom: 16px;
}

.movement-item {
    background-color: white;
    border-left: 5px solid #0C87F2;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.movement-item:hover {
    background-color: #E9F0FF;
}

.movement-item.entrada {
    border-color: #1BA0F2;
}

.movement-item.salida {
    border-color: #B8BBBF;
}